a:hover, a:active { outline:none; }
ul,ol,li{list-style:none;}
img { border:0; max-width:100%; }
.nocallout {-webkit-touch-callout: none;} /* prevent callout */
/*box-163css*/
.box-163css{ width:100%; position:relative; height:360px;margin-bottom:0px; float:left;}
/*swipe*/
.swipe{ width:100%; float:left;overflow: hidden; visibility: visible; position: relative; }
.box01_list{position:relative; -webkit-transition: left 600ms ease-out;  width:100%; left:0;padding:0px;margin-top:40px;}
.li_list{
	width:100%;position:relative; float: left; vertical-align: top;padding:0px;
height:auto!important;
}

/*page*/
.page{ text-align:left; background:#ffffff; height:38px; line-height:38px; width:100%;display:-webkit-box;padding:0px;position:fixed;top:0px;z-index:999;}
.page li{-webkit-box-flex:1; font-size:18px; display:block; color:#000; height:38px; line-height:38px; text-align:center; padding:0px;}
.page li a{ color:#000; display:block; height:38px;}
.page a.active{color:#f00;border-bottom:1px solid #c00;}

.list-group-item {
    position: relative;
    display: block !important;
    padding: 10px 15px !important;
    margin-bottom: -1px !important;
    background-color: #fff;
	height:auto!important;
	float:none !important;
	width:auto !important;
    border: 1px solid #ddd;
}
